<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.skeletonPj.api.user.mapper.UserMapper">
	
	<select id="getItemList" resultType="com.study.skeletonPj.api.user.domain.User$Veo">
		SELECT
			USER_ID
			,USER_PW
			,USER_NAME
			,USER_AGE
			,USER_MONEY
			,USER_INTRO
			,CREATE_DATE
			,UPDATE_DATE
		FROM USER_API_TEST
		<if test="userId != null">
			WHERE USER_ID = #{userId}
		</if>
	</select>
	
	<select id="getItem" parameterType="String" resultType="com.study.skeletonPj.api.user.domain.User$Veo">
		SELECT
			USER_ID
			,USER_PW
			,USER_NAME
			,USER_AGE
			,USER_MONEY
			,USER_INTRO
			,CREATE_DATE
			,UPDATE_DATE
		FROM USER_API_TEST
			WHERE USER_ID = #{userId}
	</select>
	
	<insert id="createItem" parameterType="com.study.skeletonPj.api.user.domain.User$Veo" >
		INSERT USER_API_TEST (
			USER_ID
			,USER_PW
			,USER_NAME
			,USER_AGE
			,USER_MONEY
			,USER_INTRO
			,CREATE_DATE
		) VALUES (
			#{userId}
			,#{userPw}
			,#{userName}
			,#{userAge}
			,#{userMoney}
			,#{userIntro}
			,NOW()
		)
	</insert>
	
	<delete id="deleteItem" parameterType="String">
		DELETE FROM USER_API_TEST
		WHERE USER_ID = #{userId}
	</delete>
	
	<update id="putItem" parameterType="com.study.skeletonPj.api.user.domain.User$Veo">
		UPDATE USER_API_TEST
		SET
			USER_ID = #{userId}
			,USER_NAME = #{userName}
			,USER_AGE = #{userAge}
			,USER_MONEY = #{userMoney}
			,USER_INTRO = #{userIntro}
			,UPDATE_DATE = NOW()
		WHERE USER_ID = #{userId}
	</update>

	<update id="patchItem" parameterType="com.study.skeletonPj.api.user.domain.User$Veo">
		UPDATE USER_API_TEST
		SET
			UPDATE_DATE = NOW()
			<if test="userId != null">
				,USER_ID = #{userId}
			</if>
			<if test="userPw != null">
				,USER_PW = #{userPw}
			</if>
			<if test="userName != null">
				,USER_NAME = #{userName}
			</if>
			<if test="userAge != null">
				,USER_AGE = #{userAge}
			</if>
			<if test="userMoney != null">
				,USER_MONEY = #{userMoney}
			</if>
			<if test="userIntro != null">
				,USER_INTRO = #{userIntro}
			</if>
		WHERE USER_ID = #{userId}
	</update>
	
</mapper>